<div class = "container">

<a class="contents_top">このつぶやきを、送信する。</a>

<%= form_with(model: @twitter, url: twitters_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p class="confirm">つぶやき:<%= @twitter.content %></p>
  <%= form.submit  "登録する", class: 'btn btn-success' %>
<% end %>

<%= form_with(model: @twitter, url: new_twitter_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit "登録しないで戻る", name: 'back', class: 'btn btn-default' %>
<% end %>
</div>
