<h1>つぶやき一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>つぶやき</th>
  </tr>

<% @twitters.each do |twitter| %>
  <tr>
    <td> <%= twitter.content %></td>
    <td><%= link_to 'つぶやきを確認する',twitter_path(twitter.id) %></td>
    <td><%= link_to "つぶやきを編集する", edit_twitter_path(twitter.id)%></td>
    <td><%= link_to 'つぶやきを削除する',twitter_path(twitter.id),method: :delete ,data:{ confirm: '本当に削除していいですか？'} %></td>
  </tr>
<% end %>
</table>

<br>

<div class="link_new">
<%= link_to '新しくつぶやく',new_twitter_path %>
<%= link_to 'TOPに戻る', top_twitters_path %>
</div>
